{% extends 'admin/admin_base.html.twig' %}
{% block content %}
    <div class="card">
        <div class="card-content">
            <h4 class="title">TODO</h4>
            <p class="category">Edite ou adicione novos TODO</p>
        </div>
    </div>
    <!-- Listas -->
    <div class="row">
        <div class="col-md-4">
            <div class="card card-plain">
                <div class="card-header" data-background-color="purple">
                    <h4 class="title">TODO</h4>
                </div>
                <div class="card-content">
                    <!-- Cards -->
                    <div class="card">
                        <div class="card-content">
                            as
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-content">
                            as
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-content">
                            as
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-plain">
                <div class="card-header" data-background-color="purple">
                    <h4 class="title">TODO</h4>
                </div>
                <div class="card-content">
                    <!-- Cards -->
                    <div class="card">
                        <div class="card-content">
                            as
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-content">
                            as
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-content">
                            as
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}